@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    list-style: none;
    text-decoration: none;
    /* border: 2px solid red; */

}

body {
    background-color: var(--eye-ball);
}

/* basic styling */

:root {
    --lead: #212121;
    --gold: #F2BD21;
    --eye-ball: #FFFDF7;
    --hint-yellow: #FCF1CC;
    --pure-white: #FFF;
}

a {
    color: var(--lead);
    font-size: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-2 {
    gap: 1.2rem;
}

img {
    max-width: 100%;
    margin: auto;
    height: 100%;
    display: block;
}

.p-top {
    padding-top: 10rem;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 4rem;
}

/* header styling */
.navbar {
    justify-content: space-between;
    min-height: 14vh;
}

.logo {
    font-size: 1.60rem;
    font-weight: 800;
    color: var(--gold);
}

.btn {
    display: inline-block;
    background-color: var(--gold);
    padding: .9rem 2rem;
    border: none;
    border-radius: 1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.btn:hover {
    background-color: var(--lead);
}

.cart-icon {
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value {
    position: absolute;
    top: 50%;
    right: -10%;
    font-size: .85rem;
    background-color: var(--gold);
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    color: var(--lead);
    text-align: center;
    line-height: 20px;
}

.bar {
    font-size: 1.5rem;
    display: none;
}

.mobile-menu {
    display: none;
}

/* hero section styling */
.hero-section {
    min-height: calc(100vh - 14vh);
}

.content,
.image-section,
.ser-card {
    flex: 1;
    flex-basis: 300px;
}


.content h1 {
    font-size: 5rem;
    color: var(--lead);
}

.content h1 span {
    color: var(--gold);
}

.content p {
    color: gray;
    margin: 2rem 0;
}

.social-icons i {
    background-color: var(--hint-yellow);
    width: 3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.social-icons i:hover {
    background-color: var(--lead);
    color: var(--pure-white);
}

/* SECTION 01*/

h5 {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--gold);
    text-transform: uppercase;
}

h2 {
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}

h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);
}

.ser-card h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.ser-card p {
    color: gray;
}


/* SECTION 02 */


.order-card {
    flex: 1;
    flex-basis: 200px;
    padding: 0 1rem 2rem 1rem;
    background: var(--pure-white);
    border: .1rem solid var(--gold);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}

.order-card img {
    width: 15rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 10px);
}


h4 {
    font-size: 1.8rem;
    color: var(--lead);
}


.order-card .price {
    font-size: 1.7rem;
    color: var(--gold);
    padding: 1.3rem 0 2rem 0;
}

/* SECTION 03 */

.review-container{
    background: #F2BD21;
}

.image-container img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.content {
    max-width: 400px;
}

.swiper {
    width: 100%;
    height: 100%;
}
















/* footer styling */





















@media (max-width: 780px) {

    /* HRADER-SLYLING */
    .linklist,
    .destop .btn {
        display: none;
    }

    .bar {
        display: block;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        top: 20%;
        left: -100%;
        background-color: var(--pure-white);
        border: .1rem solid var(--gold);
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
            rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
        transition: all .5s ease-in-out;
    }

    .mobile-menu-active {
        left: 50%;
        transform: translateX(-50%);
    }

    /* SECTION-STYLING */
    /* HERO SECTION  */

    .image-section {
        margin-top: 4rem;
    }

    .content h1 {
        font-size: 3.6rem;
        padding-top: 3rem;

    }

    .gap-2 {
        gap: 1.4rem;
    }

    .gap-4 {
        gap: 4rem;
    }

    /* SECTION 01 */
    h2 {
        font-size: 3rem;
    }

}